
/* SP対応 */
@media screen and (max-width: 500px){
    .content .task-list {
        width:80%;
    }
}

/* PC対応 */
@media screen and (min-width: 501px){

    .project-overview {
        display:flex;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        background-color:#FCF8EA;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    .task-list {
        width:50%;
        height: 100%;
        overflow:auto;
    }

    .member-list {
        width:50%;
        height: 100%;
        overflow:auto;
    }

    .list-title {
        height: 40px;
        margin:auto;
        align-items: center;
    }

    .task-item {
        width: 50%;
        height: auto;
        background-size: cover;
        position: relative;
        margin: auto;
        padding: 30px;
        text-align: center;
    }

    .create-task {
        opacity: 0.6;
    }

    .task-item span {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
    }

    .member-item {
        display: flex;
        width: 80%;
        height: 200px;
        background-color: white;	
        text-align: center;	
        margin: 20px auto;
        margin-bottom: -1px;
    }

    .member-icon {
        width: 30%;
        font-size: 12px;
        background-color: #381713;
        color: #FCF8EA;
        border: 1px solid #381713;
        border-radius: 10px 0 0 10px;
        text-align: center;	
        align-items: center;

        img {
            width: 40%;
            margin: 0 auto;
        }
    }

    .member-task {
        width: 100%;
        height: auto;
        border: 1px solid #381713;
        border-left: 0px;
        background-size: cover;
        position: relative;
    }

    .member-task .task-title {

    }

    .member-task .task-limit {

    }
}